/*------------------------------------- CHARTE GRAPHIQUE -------------------------------------*/
/*
    bleu foncé: #254373
    orange : #E94539
    rose : #C30356
    gris : #3D3D3D
    bleu clair #F3F5FD
*/


/*------------------------------------- MAIN -------------------------------------*/

/***************************  GENERAL   ***************************/

h1 {
    color: #254373;
    text-align: center;

}


/***************************  FILTRES   ***************************/

/* ---------------- CADRE ---------------- */
fieldset{
    border: solid 2px #254373;

    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    /*max-width: 900px;*/
    max-width: 1000px;


    /*background-color: rgba(0, 0, 0, 0.2);*/
}

/* ---------------- GENERAL ---------------- */
#filtresContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    /*border: solid 2px purple;*/
}

.block-filtre
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 15px 15px 5px 15px;

    /*border: solid 2px pink;*/
}

#filtresContainer label{
    font-size: 16px;
    color: #254373;
    font-weight: 600;
    margin-bottom: 10px;
}

#filtresContainer input{
    border: none;
    border-bottom: solid 2px #254373;
    background-color: transparent;
    color: #254373;
    outline:none;

    margin-left: 7px;
    margin-right: 7px;

    /*border: 2px solid red;*/
}

#filtresContainer input::placeholder{
    color: #254373;
}

/* ---------------- DATES ---------------- */
.filtre-date-input
{
    margin-left: 7px;
    margin-right: 7px;
}

/* logo de base -> passé en blanc avec invert, logo beige passé en background inversé -> bleu */
::-webkit-calendar-picker-indicator {
    filter: invert(1);

    background-image: url("../../public/images/icon-calendar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}



/* ---------------- STATUTS ---------------- */
.block-checkbox
{
    text-align: center;

    margin-bottom: 10px;
}

.block-checkbox input
{
    border-bottom: none !important;
}

.label-statut
{
    text-decoration: none;
    font-size: 14px !important;
    color: #254373;
    font-weight: 600;
}

.label-statut-L2
{
    font-size: 12px !important;
    color: #254373 !important;
    font-weight: 450 !important;
}

input[type=checkbox]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.check-en-cours input[type=checkbox]
{
    height: 50px;
    width: 50px;

    background-image: url("../../public/images/icon-encours2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;

    opacity: 0.2;
}

.check-en-cours input[type="checkbox"]:checked
{
    opacity: 1;
}

.check-devis input[type=checkbox]
{
    height: 50px;
    width: 50px;

    background-image: url("../../public/images/icon-devis2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;

    opacity: 0.2;
}

.check-devis input[type="checkbox"]:checked
{
    opacity: 1;
}

.check-termine input[type=checkbox]
{
    height: 50px;
    width: 50px;

    background-image: url("../../public/images/icon-check2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;

    opacity: 0.2;
}

.check-termine input[type="checkbox"]:checked
{
    opacity: 1;
}
/* ---------------- MOT CLE ---------------- */

/* ---------------- SELECT - NON UTILISE ---------------- */
/*
#filtresContainer select{
    border: none;
    border-bottom: solid 2px #254373;
    background-color: transparent;
    color: #254373;
}

#filtresContainer select option {
    background-color: #254373;
    color: #000000;
}
*/

/***************************  TABLEAU   ***************************/
/*

.header_tab{
    background-color: rgb(255, 255, 255);
    width: 1350px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.contenu_tab{
    width: 1350px;
    margin-left: auto;
    margin-right: auto;

    max-height:400px;
    overflow-x:auto;
    overflow-y:auto;
    margin-top: 0px;
    background-color:#F3F5FD;
    border-left: 1px solid #254373;
    border-right: 1px solid #254373;
    border-bottom: 1px solid #254373;
}

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}


#tableauAccueil th{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #254373;
    text-transform: uppercase;
    width: 150px;
    height: 35px;
    border-left: 1px solid #254373;
    border-right: 1px solid #254373;
    border-top: 1px solid #254373;
}

#tableauAccueil td{
    text-align: center;
    vertical-align:middle;
    font-weight: 400;
    font-size: auto;
    color: #254373;
    text-transform: uppercase;
    overflow: hidden;
    width: 150px;
    border: 1px solid #254373;

}


#tableauAccueil tr {
    text-align: center;
}

.contenu_tab tr:nth-child(even) {
    background-color: #F3F5FD;
}

.contenu_tab tr:nth-child(odd) {
    background-color: #edf0fd;
}

.contenu_tab tr:hover{
    background-color: #7387a733 !important;
}

*/

.aucunResultat {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #254373;
    border-bottom: #E94539 solid 2px;
    width: fit-content;
    padding-bottom: 10px;
}

/***************************  BOUTON INTERVENTIONS   ***************************/

.boutonOrange{
    background-color: #E94539;
    border-radius: 50px;
    padding: 8px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 25px;
}

.boutonOrange:hover{
    cursor: pointer;

}

.boutonOrange a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;

}




