/*------------------------------------- CHARTE GRAPHIQUE -------------------------------------*/
/*
    bleu foncé: #254373
    orange : #E94539
    rose : #C30356
    gris : #3D3D3D
    bleu clair #F3F5FD
*/


/*------------------------------------- MAIN -------------------------------------*/
h1 {
    color: hotpink;
}



