/*------------------------------------- CHARTE GRAPHIQUE -------------------------------------*/
/*
    bleu foncé: #254373
    orange : #E94539
    rose : #C30356
    gris : #3D3D3D
    bleu clair #F3F5FD
*/


/*------------------------------------- MAIN -------------------------------------*/

/***************************  GENERAL   ***************************/

h1 {
    color: #254373;
    text-align: center;

}


/***************************  FILTRES   ***************************/


fieldset{
    border: solid 2px #254373;

    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 900px;

    /*background-color: rgba(0, 0, 0, 0.2);*/
}


#filtresContainer label{
    font-size: 16px;
    color: #254373;
    font-weight: 600;
    margin-bottom: 10px;
}

#filtresContainer select{
    border: none;
    border-bottom: solid 2px #254373;
    background-color: transparent;
    color: #254373;
}

#filtresContainer select option {
    background-color: #254373;
    color: #000000;
}

#filtresContainer input{
    border: none;
    border-bottom: solid 2px #254373;
    background-color: transparent;
    color: #254373;
    outline:none;
}

#filtresContainer input::placeholder{
    color: #254373;
}

#filtresContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#filtresContainer>div{
   margin: 15px;
}

/***************************  TABLEAU   ***************************/

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    table-layout: fixed;
}

td, th
{
    border: 1px solid #254373;
    min-width: 100px;
    text-align: center;
}


.header_tab{
    background-color: rgb(255, 255, 255);
    min-width: 900px;
}

.contenu_tab{
    max-height:400px;
    overflow-x:auto;
    margin-top: 0px;
    background-color:#F3F5FD;
    min-width: 900px;
    overflow-y:auto;
}

#tableauAccueil th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #254373;
    text-transform: uppercase;
}
#tableauAccueil tr {
    text-align: center;
}

.contenu_tab tr:nth-child(even) {
    background-color: #F3F5FD;
}
.contenu_tab tr:nth-child(odd) {
    background-color: #edf0fd;
}
.contenu_tab tr:hover{
    background-color: #7387a733 !important;
}

#tableauAccueil td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 400;
    font-size: 14px;
    color: #254373;
    text-transform: uppercase;
    overflow: hidden;
}

.aucunResultat {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #254373;
    border-bottom: #E94539 solid 2px;
    width: fit-content;
    padding-bottom: 10px;
}

/***************************  BOUTON INTERVENTIONS   ***************************/

.boutonOrange{
    background-color: #E94539;
    border-radius: 50px;
    padding: 8px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.boutonOrange:hover{
    cursor: pointer;

}

.boutonOrange a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;

}




