/*------------------------------------- CHARTE GRAPHIQUE -------------------------------------*/
/*
    bleu foncé: #254373
    orange : #E94539
    rose : #C30356
    gris : #3D3D3D
    bleu clair #F3F5FD
*/

/*------------------------------------- BODY -------------------------------------*/
html
{
    height: 100%;
    background-image: url("../../public/images/fond-etoiles.jpg");
}

body
{
    min-height: 100%;

    max-width: 80%;
    background-color: white;
    margin: auto;
    margin-bottom: 0px !important;


    font-family: 'Open Sans', sans-serif;
}


/*------------------------------------- HEADER -------------------------------------*/
header
{
    height: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    color: #3D3D3D;

    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#logo
{
    width: auto;
    height: 90px;
}

nav
{
    height: 100px;

    display: flex;
    justify-content : space-between;
    align-items: center;

    min-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a
{
    height: 80px;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #3D3D3D;
    padding-bottom: 5px;
}

nav p
{
    padding-top: 27px;
}

/* --- CLE --- */

.nav-lien-cle
{
    background-image: url("../../public/images/icon-cle-bleu.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;
}

.nav-lien-cle:hover
{
    background-image: url("../../public/images/icon-cle-orange.png");
}

.nav-lien-cle-curent
{
    background-image: url("../../public/images/icon-cle-orange.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;

    border-bottom: 3px solid #E94539;
}


/* --- CADDIE --- */

.nav-lien-caddie
{
    background-image: url("../../public/images/icon-caddie-bleu.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;
}

.nav-lien-caddie:hover
{
    background-image: url("../../public/images/icon-caddie-orange.png");
}

.nav-lien-caddie-curent
{
    background-image: url("../../public/images/icon-caddie-orange.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;

    border-bottom: 3px solid #E94539;
}

/* --- CASQUE --- */

.nav-lien-casque
{
    background-image: url("../../public/images/icon-casque-bleu.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;
}

.nav-lien-casque:hover
{
    background-image: url("../../public/images/icon-casque-orange.png");
}

.nav-lien-casque-curent
{
    background-image: url("../../public/images/icon-casque-orange.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;

    border-bottom: 3px solid #E94539;
}

#zone-connexion
{
    min-width: 285px;

    display: flex;
    align-items: center;

    line-height: 5px;

}

#logo-client-img
{
    margin-right: 20px;

    width: auto;
    height: 60px;

    /*
    border: 2px solid #E94539;
    box-shadow: 5px 5px 4px #254373;
    */

}

#nomClient
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

#zone-connexion a
{
    text-align: center;
    color: #E94539;
    /*text-transform: lowercase;*/
}

hr
{
    width: 100%;
    height: 2px;
    border: none;
    background-color: #E94539;

}

/*------------------------------------- MESSAGE FLASH -------------------------------------*/

.message-flash
{
    background-color: #E94539;
    color: white;
    max-width: 700px;
    min-height: 60px;
    margin: auto;
    padding: 20px;
}

.message-flash p
{
    line-height: 32px;
}

.message-flash span
{
    font-weight: bold;
    border-bottom: 1px solid white;


}



/*------------------------------------- FOOTER -------------------------------------*/
footer
{
   text-align: center;
    padding-top: 20px;
    color: #3D3D3D;
}

/*------------------------------------- RESPONSIVE -------------------------------------*/

@media screen and (max-width: 1370px)
{
    body
    {
        max-width: 100%;
    }

    #logo
    {
        width: auto;
        height: 50px;
    }

    .icon-menu
    {
        width: 50px;
    }
}

@media screen and (max-width: 1050px)
{
    body
    {
        max-width: 100%;
        background-color: red;

    }



}



