/*------------------------------------- CHARTE GRAPHIQUE -------------------------------------*/
/*
    bleu foncé: #254373
    orange : #E94539
    rose : #C30356
    gris : #3D3D3D
    bleu clair #F3F5FD
*/

/*------------------------------------- BODY -------------------------------------*/
html
{
    min-height: 100%;
    background-image: url("../../public/images/fond-etoiles.jpg");
}

body
{
    min-height: 100%;

    max-width: 1500px;
    background-color: white;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;

    font-family: 'Open Sans', sans-serif;
}


/*------------------------------------- HEADER -------------------------------------*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #3D3D3D;

    padding-top: 10px;
}

#logo
{
    width: auto;
    height: 90px;
}

nav
{
    display: flex;
    justify-content : space-around;

    width: 700px;


}

nav a
{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #3D3D3D;
}

.icon-menu
{
    width: 80px;
}

#zone-connexion
{
    display: flex;
    align-items: center;

    text-transform: uppercase;
    line-height: 5px;
}

#logo-client-div
{
    margin: 10px;

    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
}

#logo-client-img
{
    width: auto;
    height: 60px;
}

#zone-connexion a
{
    text-align: center;
    color: #E94539;
    text-transform: lowercase;
}

hr
{
    width: 100%;
    height: 2px;
    border: none;
    background-color: #E94539;

}





